---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Wouter Verweirder is a faculty member of the Technical University of West-Flanders (HOWEST). He is also owner of a company called Happy Banana."
	pubDate={new Date('2006-09-12T00:10:00.000Z')}
	updatedDate={new Date('February 12 2023')}
	heroImage="/hero-profile-picture.jpg"
>
	<p>
		Wouter Verweirder is a faculty member of the Technical University of West-Flanders (HOWEST), where he teaches web & creative development in the "Devine" Bachelor program. In his classes, students learn the basics of programming and advance to larger, experimental projects using javascript, C++, Arduino, ... Hands-on experience is very important and his students get a lot of practical lab sessions as well as real world projects
	</p>
	<p>
		He is also owner of a company called "Happy Banana," where he works on web projects, mobile apps & interactive installations.
	</p>
</Layout>
